body, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
    list-style: circle;
}

body {
    font-family: 'Cousine', monospace;
    background: #1a1a1a;
    color: #f0f0f0;
    line-height: 1.7;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
}

header {
    text-align: left;
}

main {
    padding: 20px;
}

a {
    display: inline-block;
    transition: all 0,3s ease;
    color: #6ba5df;
}

a:hover {
    transform: scale(1.05);
    color: #8bbef7;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 2.3rem;
    background: rgba(30, 30, 30, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.13);
    padding-top: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0px;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 0.1rem;
}

h2 {
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 20px;
    opacity: 0.9;
    font-weight: 400;
    margin-top: 0;
}

h3 {
    font-size: 1.1rem;
    margin: 2rem 0 1rem 0;
    color: #6ba5df;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
    text-align: left;
}

.hobbies, .from {
    margin-bottom: 1.5rem;
    text-align: center;
}